@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-position: right;
}

:root {
    --linear-grad: linear-gradient(to right, #141E30, #243B55);
    --grad-clr1: #141E30;
    --grad-clr2: #243B55;
    --background-color: #e0e0e0;
    --box-shadow-light: #ffffff;
    --box-shadow-dark: #bebebe;
}

body {
    height: 100vh;
    background: var(--background-color);
   
    font-family: 'Syne', sans-serif;
    box-shadow: inset 10px 10px 20px var(--box-shadow-dark),
                inset -10px -10px 20px var(--box-shadow-light);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 890px;
    height: 580px;
    background-color: #FFF;
    box-shadow: 55px 50px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
}

.form-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
}

.sign-up-container {
    opacity: 0;
    z-index: 1;
}

.sign-in-container {
    z-index: 2;
}

.container form {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    position: relative;
}

.container form {
    width: 100%;
    height: 100%;
    outline: none;
    font-size: 16px;
    border: none;
}

form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: 0px 50px;
}

h1 {
    color: var(--grad-clr1);
}

.social-container {
    margin: 20px 0px;
}

.social-container a {
    border: 1px solid #DDD;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
    height: 40px;
    width: 40px;
}

span {
    font-size: 12px;
}

.infield {
    display: grid;
    position: relative;
    margin: 8px 0px;
    width: 100%;
    grid-template-columns: 15% 85%;
    padding: 0 .4rem;
}

.infield i {
    position: relative;
    text-align: center;
    line-height: 55px;
    font-size: 1.1rem;
}

input {
    width: 100%;
    padding: 12px 15px;
    background-color: #F8F6F0;
    border: none;
    outline: none;
}

input:focus ~ label {
    width: 100%;
    display: block;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 15px 0px;
}

a.forgot {
    padding-bottom: 3px;
    border-bottom: 2px solid #EEE;
}

button {
    position: relative;
    cursor: pointer;
    border-radius: 20px;
    border: 1px solid var(--grad-clr1);
    background: var(--grad-clr2);
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Syne', sans-serif;
}

.form-container button {
    margin-top: 17px;
    transition: 80ms ease-in;
}

.form-container button:hover {
    background: #FFF;
    color: var(--grad-clr1);
}

.overlay-container {
    position: absolute;
    top: 0;
    left: 60%;
    width: 60%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 9;
    border-radius: 150px 0 0 100px;
}

#overlayBtn {
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 304px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #FFF;
    background: transparent;
    border-radius: 20px;
}

.overlay {
    position: relative;
    background: var(--linear-grad);
    color: #FFF;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.overlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    text-align: center;
    height: 100%;
    width: 50%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.overlay-left {
    right: 60%;
    transition: translateX(-12%);
}

.overlay-right {
    right: 0;
    transition: translateX(0%);
}

.overlay-panel h1 {
    color: #FFF;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;
}

.overlay-panel button {
    border: none;
    background-color: transparent;
}

.right-panel-active .overlay-container {
    transform: translateX(-150%);
    border-radius: 0 150px 100px 0;
}

.right-panel-active .overlay {
    transform: translateX(50%);
}

.right-panel-active .overlay-left {
    transform: translateX(25%);
}

.right-panel-active .overlay-right {
    transform: translateX(35%);
}

.right-panel-active .sign-in-container {
    transform: translateX(20%);
    opacity: 0;
}

.right-panel-active .sign-up-container {
    transform: translateX(66.7%);
    opacity: 1;
    z-index: 5;
    animation: show 0.6s;
}

@keyframes show {
    0%, 50% {
        opacity: 0;
        z-index: 1;
    }
    50.1%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.btnScaled {
    animation: scaleBtn 0.6s;
}

@keyframes scaleBtn {
    0% {
        width: 143.67px;
    }
    50% {
        width: 250px;
    }
    100% {
        width: 143.67px;
    }
}

.registration-form-container button {
    margin-top: 17px;
    transition: 80ms ease-in;
    cursor: pointer;
}

.registration-form-container button:hover {
    background: #FFF;
    color: var(--grad-clr1);
}

.rinput-field {
    display: flex;
    position: relative;
    margin: 6px 0px;
    width: 89%;
    grid-template-columns: 15% 75%;
}

.rinput-field i {
    position: relative;
    text-align: center;
    line-height: 55px;
    font-size: 1.1rem;
    padding: 0 9px;
}

.registration-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 890px;
    height: 580px;
    background-color: #FFF;
    box-shadow: 55px 50px 55px #5557;
    border-radius: 13px;
    overflow: hidden;
}

.registration-form-container {
    position: absolute;
    width: 60%;
    height: 100%;
    padding: 0px 40px;
    transition: all 0.6s ease-in-out;
    opacity: 1;
    z-index: 2;
    margin-left: 42%;
}

.roverlay-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 40%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 1;
    border-radius: 0 150px 100px 0;
}

#overlayBtn {
    cursor: pointer;
    position: relative;
    left: 50%;
    top: 304px;
    transform: translateX(-50%);
    width: 143.67px;
    height: 40px;
    border: 1px solid #FFF;
    background: transparent;
    border-radius: 20px;
}

.roverlay {
    position: relative;
    background: var(--linear-grad);
    color: #FFF;
    left: -150%;
    height: 100%;
    width: 250%;
    transition: transform 0.6s ease-in-out;
}

.roverlay-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    text-align: center;
    height: 100%;
    width: 40%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.registration-overlay-left {
    right: 60%;
    transition: translateX(-12%);
}

.registration-overlay-right {
    right: 0;
    transition: translateX(0%);
}

.roverlay-panel h1 {
    color: #FFF;
}

p {
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 25px 0px 35px;
}

.roverlay-panel button {
    border: none;
    background-color: transparent;
}

.right-panel-active .overlay-container {
    transform: translateX(-100%);
    border-radius: 0 13px 13px 0;
}

.right-panel-active .overlay {
    transform: translateX(50%);
}

.right-panel-active .registration-form-container {
    transform: translateX(33.3%);
    opacity: 1;
    z-index: 5;
}

.right-panel-active .registration-overlay-left {
    transform: translateX(0%);
}

.right-panel-active .registration-overlay-right {
    transform: translateX(100%);
}
