body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  body.dark-mode .card {
    background-color: #1e1e1e;
    border: none;
    color: #ffffff;
  }
  
  body.dark-mode .list-group-item {
    background-color: #1e1e1e;
    border: none;
    color: #ffffff;
  }
  
  body.dark-mode .modal-content {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  